.container{
	width:440px;
	height:380px;
	background-color:#e1e1e1;
	padding:20px 10px 10px 10px;
}
.header{
	width:100%;
	height:80px;
	background-color:#fff;
	margin-bottom:10px;
	box-sizing:border-box;
}
.header span{
	display:block;
	text-align:right;
	line-height:80px;
	font-size:40px;
	box-sizing:border-box;
}
.cell{
	width:102.5px;
	height:50px;
	text-align:center;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	cursor:pointer;
}
.cell0{
	margin-right:0px;
}

button{
	width:100%;
	height:100%;
	font-size:30px;
}

button:hover{
	background:grey;
}