    * {
        padding: 0;
        margin: 0;
        font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
    }
    .top{
       
        height:40px;
    }
    /*头部设置*/
    /*头部搜索框设置*/
    .sousuokuang{
        float:left;
        height:59px;
        vertical-align: middle;
        box-sizing: border-box;
        background-color:#fff;
        z-index:1000;
        margin-top:-5px;
        display:none;
        transform-origin:right center;
        -moz-transform-origin:right center;
        animation:scalerun 0.8s ease normal;
        -moz-animation:scalerun 2s line normal;
        -webkit-animation:scalerun 0.8s ease normal;   
    }
    @keyframes scalerun{
        0%{
            transform:scale(0.1, 1);
        }
        100%{
            transform:scale(1,1);
        }
    }
    @-webkit-keyframes scalerun{
        0%{
            transform:scale(0.1, 1);
        }
        100%{
            transform:scale(1,1);
        }
    }
    @-moz-keyframes scalerun{
        0%{
            transform:scale(0.1, 1);
        }
        100%{
            transform:scale(1,1);
        }
    }


    
    .sousuokuang .fangdajing{
        width:17px;
        height:17px;
        display: inline-block;
        background-image: url(../image/search-app-icon.png);
        background-repeat: no-repeat;
        background-size: 17px 68px;
        background-position: 0px -34px; 
        position:relative;
        top:11px;
        left:22px;
    }
    .sousuokuang input[type="input"]{
        width:400px;
        height:40px;
        display:inline-block;
        margin-left:50px;
        border:none;
        outline:none;
    }
    .sousuokuang .quxiao{
        display:inline-block;
        width:15px;
        height:15px;
        background-image:url(../image/cha.png);
        background-size:15px 15px;
        position:relative;
        top:9px;
        right:-20px;
        cursor:pointer;
    }   

    /*头部搜索框设置end*/
    .top {
        padding: 10px 0;
        padding-bottom:20px;
        width: 1000px;
        margin: 0 auto;
    }
    
    .top-left-content {
        float: left;
    }
    
    .top-left-content img {
        width: 109px;
        height: 40px;
        padding-bottom: 10px;
    }
    
    .top-middle-content {
        float: left;
        position: relative;
        top: 6px;
        padding-left: 50px;
        background-color: #fff;
        z-index: 1000;
    }
    
    .top-middle-content li {
        float: left;
        list-style: none;
        margin-right: 45px;
        position: relative;
    }
    
    .top-middle-content li a {
        text-decoration: none;
        color: #000;
    }
    
    .submenu {
        position: absolute;
        width: 280px;
        top: 20px;
        left: 0px;
        background-color: #fff;
        padding: 10px;
        padding-top:20px;
        z-index: 1000000;
    }
    
    .top-sanjiao {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-left: 1px solid #c1c1c1;
        border-top: 1px solid #c1c1c1;
        -webkit-transform: rotate(-135deg);
        transform-origin: 4px 4px;
        position: relative;
        margin-bottom: 2px;
        right: -5px;
    }
    /*顶部hover动画*/
    
    .top-middle-content li:hover>a {
        color: #35b558;
    }
    
    .top-middle-content li:hover .top-sanjiao {
        margin-bottom: -2px;
        border-top: 1px solid #35b558;
        border-left: 1px solid #35b558;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        animation: rotate 1s ease normal;
        -moz-animation: rotate 1s ease normal;
        -webkit-animation: rotate 1s ease normal;
    }
    
    @-webkit-keyframes rotate {
        0% {
            -webkit-transform: rotate(45deg);
            -webkit-transform-origin: 4px 4px;
        }
        75% {
            -webkit-transform: rotate(315deg);
            -webkit-transform-origin: 4px 4px;
        }
        100% {
            -webkit-transform: rotate(405deg);
            -webkit-transform-origin: 4px 4px;
        }
    }
    
    @-moz-keyframes rotate {
        0% {
            -webkit-transform: rotate(45deg);
            -webkit-transform-origin: 4px 4px;
        }
        75% {
            -webkit-transform: rotate(315deg);
            -webkit-transform-origin: 4px 4px;
        }
        100% {
            -webkit-transform: rotate(405deg);
            -webkit-transform-origin: 4px 4px;
        }
    }
    
    @keyframes rotate {
        0% {
            -webkit-transform: rotate(45deg);
            -webkit-transform-origin: 4px 4px;
        }
        75% {
            -webkit-transform: rotate(315deg);
            -webkit-transform-origin: 4px 4px;
        }
        100% {
            -webkit-transform: rotate(405deg);
            -webkit-transform-origin: 4px 4px;
        }
    }
    
    .school-list {
        display: none;
    }
    
    .submenu h3 {
        height: 28px;
        line-height: 28px;
        font-weight: 300;
        background: #fafafa;
        font-size: 15px;
    }
    
    .submenu a {
        display: block;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    
    .submenu a:hover {
        color: #35b558;
    }
    
    .submenu i {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }
    
    .web-icon {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: -14px -25px;
    }
    
    .wechat-icon {
        background-image: url(../image/allicon4.png);
        background-size: 16px 128px;
        background-position: -2px -49px;
    }
    
    .python-icon {
        background-image: url(../image/allicon4.png);
        background-size: 16px 128px;
        background-position: -2px 0px;
    }
    
    .go-icon {
        background-image: url(../image/allicon4.png);
        background-size: 16px 128px;
        background-position: -2px -31px;
    }
    
    .android-icon {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: -45px -12px;
    }
    
    .ios-icon {
        background-image: url(../image/allicon4.png);
        background-size: 16px 128px;
        background-position: -2px -69px;
    }
    
    .vip-lessons {
        display: none;
    }
    
    .kck {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: 0px -10px;
    }
    
    .zylj {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: -45px 1px;
    }
    
    .zstx {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: -30px -12px;
    }
    
    .xlkc {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: -45px 1px;
    }
    
    .kcbq {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: -14px -12px;
    }
    
    .hygm {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: -17px 1px;
    }
    
    .jksq {
        display: none;
    }
    
    .jswd {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: 0px -24px;
    }
    
    .wiki {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: -92px -24px;
    }
    
    .sq {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: 0px 2px;
    }
    
    .zyxz {
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
        background-position: -93px 2px;
    }
    
    .top-right-content {
        float: right;
        position: relative;
        top: 3px;
    }
    
    .top-right-content li {
        float: left;
        display: block;
        height: 17px;
        width: 17px;
        background-image: url(../image/search-app-icon.png);
        background-repeat: no-repeat;
        background-size: 17px 68px;
        margin-right: 40px;
    }
    
    .top-right-content #fangdajing {
        background-position: 0px -34px;
        cursor: pointer;
    }
    
    .top-right-content #fangdajing:hover {
        background-position: 0px -51px;
    }
    
    .top-right-content #shouji {
        background-position: 0px 0px;
        cursor: pointer;
        position: relative;
    }
    
    .top-right-content #shouji:hover {
        background-position: 0px -17px;
    }
    
    .top-right-content #user img {
        width: 25px;
        height: 25px;
    }
    
    .top-right-content #year {
        display: block;
        position: relative;
        width: 17px;
        height: 17px;
        background-image: url(../image/allicon2.png);
        background-position: 0px -30px;
        background-size: 64px 64px;
        top: -18px;
        right: -12px;
    }
    
    .top-right-content .erweima {
        position: absolute;
        top: 38px;
        right: -48px;
        border: 1px solid #c1c1c1;
        background-color: #fff;
        display: none;
    }
    
    .top-right-content #shouji:hover .erweima {
        display: block;
        z-index: 100;
    }
    
    .top-right-content #shouji img {
        width: 120px;
        height: 157px;
    }
    
    .top-right-content #shouji i {
        display: block;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-left: 1px solid #c1c1c1;
        border-top: 1px solid #c1c1c1;
        transform: rotate(45deg);
        position: absolute;
        top: -6px;
        left: 55px;
    }
    
    #user #users {
        width: 25px;
        height: 60px;
    }
    
    #user .userinfo {
        display: none;
        padding: 10px;
        width: 120px;
        position: relative;
        top: -31px;
        left: -94px;
        border: 1px solid #c1c1c1;
    }
    
    #user:hover .userinfo {
        display: block;
        background: #fff;
        z-index: 100;
    }
    
    .userinfo .topinfo {
        position: absolute;
        width: 8px;
        height: 8px;
        background: #fff;
        border-left: 1px solid #c1c1c1;
        border-top: 1px solid #c1c1c1;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -6px;
        right: 30px;
    }
    
    #user .userinfo dd {
        margin: 0;
        width: 120px;
        height: 35px;
        padding-left: 10px;
        box-sizing: border-box;
    }
    
    #user dd a {
        width: 110px;
        height: 35px;
        text-decoration: none;
        color: #666;
        line-height: 35px;
    }
    
    #user dd i {
        width: 12px;
        height: 12px;
        background-image: url(../image/allicon2.png);
        background-size: 64px 64px;
        display: inline-block;
        margin-right: 10px;
    }
    
    #getlevel {
        line-height: 35px;
    }
    
    #getlevel .renzheng {
        display: inline-block;
        width: 45px;
        height: 14px;
        background-image: url(../image/weirenzheng.png);
        background-size: 45px 14px;
    }
    
    #getlevel .vip {
        display: inline-block;
        width: 45px;
        height: 14px;
        background-image: url(../image/vip.png);
        background-size: 306px 16px;
        background-position: -143px -1px;
    }
    
    .xxzx {
        background-position: -16px -15px;
    }
    
    .grzy {
        background-position: -45px 0px;
    }
    
    .xxtz {
        background-position: -16px -30px;
    }
    
    .zhsz {
        background-position: -16px -48px;
    }
    
    .tcdl {
        background-position: -16px 0px;
    }
    
    #user dd:hover {
        background-color: #f5f5f5;
    }
    
    #user dd:hover a {
        color: #35b558;
    }
    
    .middle-content {
        padding-top: 10px;
        clear: both;
        background-color: #eee;
        height: 2050px;
    }
    
    .middle-contents {
        margin: 0 auto;
        margin-top: 10px;
        width: 1000px;
    }
    
    #left {
        float: left;
        background: #fff;
        width: 208px;
    }
    
    .up {
        width: 208px;
        height: 417px;
        box-sizing: border-box;
        border: 1px solid #35b558;
        position: relative;
    }
    
    .up ul,
    li {
        margin: 0;
        padding: 0;
    }
    
    .up li {
        list-style: none;
    }
    
    .up li a.first {
        text-decoration: none;
        display: block;
        padding-left: 32px;
        height: 37px;
        line-height: 37px;
        font-size: 14px;
        color: #666;
    }
    
    .up #special a {
        height: 45px;
        line-height: 45px;
        position: relative;
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
        color: #35b558;
    }
    
    .up #special a i {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url(../image/camera.png);
        background-size: 15px 15px;
        position: absolute;
        left: 8px;
        top: 13px;
    }
    
    .up .sub:hover a.first {
        color: #35b558;
        padding-left: 24px;
    }
    
    .up .sub:hover {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        margin-bottom: -1px;
        margin-left: -1px;
        margin-top: -1px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
        -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
    }
    
    div.right-border {
        display: none;
        background-color: #fff;
        height: 37px;
        width: 3px;
        position: absolute;
        right: -1px;
        z-index: 5000;
    }
    
    .up .sub.last:hover {
        border-bottom: none;
    }
    
    .left-menu {
        position: absolute;
        top: 0px;
        left: 207px;
        min-width: 402px;
        border: 1px solid #ddd;
        box-sizing: border-box;
        margin-left: -2px;
        z-index: 3000;
        background-color: #fff;
        min-height: 417px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    
    .left-menu a {
        text-decoration: none;
    }
    
    .left-menu a:hover {
        color: #35b558;
    }
    
    .left-menu h3 a {
        display: block;
        font-size: 13px;
        color: #333;
        font-weight: 500;
        line-height: 36px;
        height: 36px;
    }
    
    .left-menu .second a {
        display: inline-block;
        height: 14px;
        line-height: 14px;
        font-size: 12px;
        font-weight: 400;
        color: #666;
    }
    
    .second a:hover {
        color: #35b558;
    }
    
    .left-ydkf {
        display: none;
    }
    
    .left-qdkf {
        display: none;
    }
    
    .left-hdka {
        display: none;
    }
    
    .left-jczs {
        display: none;
    }
    
    .left-dsj {
        display: none;
    }
    
    .left-wlw {
        display: none;
    }
    
    .left-sjk {
        display: none;
    }
    
    .left-rzks {
        display: none;
    }
    
    .left-qyit {
        display: none;
    }
    
    .left-sjcpcs {
        display: none;
    }
    
    .down li {
        width: 198px;
        height: 45px;
        line-height: 45px;
        list-style: none;
        font-size: 14px;
        padding-left: 10px;
        position: relative;
    }
    
    .down li i {
        margin-right: 10px;
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url(../image/allicon.png);
        background-size: 64px 64px;
    }
    
    .down .one {
        background-position: -45px 2px;
    }
    
    .down .two {
        background-position: -29px -11px;
    }
    
    .down .three {
        background-position: 0px 2px;
    }
    
    .down .four {
        background-position: -13px -11px;
    }
    
    .down a {
        text-decoration: none;
        color: #666;
    }
    
    .downlesson {
        display: inline-block;
    }
    
    .down li:hover a {
        color: #35b558;
    }
    
    .down li:hover {
        background: #fafafa;
    }
    
    .down li:hover span {
        display: block;
        width: 40px;
        height: 10px;
        background-image: url(../image/down.png);
        background-size: 40px 10px;
        position: absolute;
        right: 10px;
        top: 17px;
    }
    
    #main {
        width: 776px;
        height: 2002px;
        box-sizing: border-box;
        float: right;
    }
    
    #main #wrap {
        width: 776px;
        height: 38px;
        line-height: 38px;
    }
    
    #main #wrap .main-main {
        list-style: none;
        float: left;
        padding: 3px 15px;
        position: relative;
        z-index:999;
    }
    
    #wrap .first {
        border: none !important;
    }
    
    #wrap .first:hover a {
        color: #56b558 !important;
    }
    
    #main #wrap .mains:hover {
        border: 1px solid #fafafa;
        margin: -1px;
        background: #fff;
    }
    
    .main-sub {
        border: 1px solid #fafafa;
        border-top: none;
    }
    
    .main-sub li {
        box-sizing: border-box;
        padding-left: 16px;
    }
    
    .main-sub li a:hover {
        color: #35b558 !important;
    }
    
    #main #wrap .main-main:hover i {
        z-index: -100;
    }
    
    #main #wrap li a {
        text-decoration: none;
        color: #666;
        font-size: 14px;
    }
    
    #main #wrap li.first {
        margin-left: 20px;
    }
    
    #main #wrap .main-sub li {
        width: 100%;
        list-style: none;
        background-color: #fff;
    }
    
    #main #wrap .main-sub {
        position: absolute;
        display: none;
        z-index: 200;
    }
    
    .cf {
        width: 776px;
        height: 1904px;
        box-sizing: border-box;
        clear: both;
    }
    
    .cf li {
        width: 250px;
        height: 225px;
        box-sizing: border-box;
        float: left;
        list-style: none;
        margin-right: 13px;
        margin-bottom: 13px;
        overflow: hidden;
    }
    
    .no-margin {
        margin-right: 0px !important;
    }
    
    .no-bottom {
        margin-bottom: 0px !important;
    }
    
    .pic {
        width: 250px;
        height: 135px;
        background-size: 250px 135px;
        position: relative;
        cursor: pointer;
    }
    
    .pic0 {
        background-image: url(../image/main0.jpeg);
    }
    
    .pic1 {
        background-image: url(../image/main1.png);
    }
    
    .pic2 {
        background-image: url(../image/main2.jpg);
    }
    
    .pic3 {
        background-image: url(../image/main3.jpg);
    }
    
    .pic4 {
        background-image: url(../image/main4.jpg);
    }
    
    .pic5 {
        background-image: url(../image/main5.jpg);
    }
    
    .pic6 {
        background-image: url(../image/main6.jpg);
    }
    
    .pic7 {
        background-image: url(../image/main7.jpg);
    }
    
    .pic8 {
        background-image: url(../image/main8.jpg);
    }
    
    .pic9 {
        background-image: url(../image/main9.jpg);
    }
    
    .pic10 {
        background-image: url(../image/main10.jpg);
    }
    
    .pic11 {
        background-image: url(../image/main11.jpg);
    }
    
    .pic12 {
        background-image: url(../image/main12.jpg);
    }
    
    .pic13 {
        background-image: url(../image/main13.jpg);
    }
    
    .pic14 {
        background-image: url(../image/main14.jpg);
    }
    
    .pic15 {
        background-image: url(../image/main15.jpg);
    }
    
    .pic16 {
        background-image: url(../image/main16.jpg);
    }
    
    .pic17 {
        background-image: url(../image/main17.jpg);
    }
    
    .pic18 {
        background-image: url(../image/main18.jpg);
    }
    
    .pic19 {
        background-image: url(../image/main19.jpg);
    }
    
    .pic20 {
        background-image: url(../image/main20.jpg);
    }
    
    .pic21 {
        background-image: url(../image/main21.jpg);
    }
    
    .pic22 {
        background-image: url(../image/main22.jpg);
    }
    
    .pic23 {
        background-image: url(../image/main23.jpg);
    }
    
    .soucang {
        position: absolute;
        top: 10px;
        left: 10px;
        background-image: url(../image/soucang.png);
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
        z-index: 101;
    }
    
    .soucang:hover {
        background-image: url(../image/soucang-2.png);
        background-size: 16px 16px;
    }
    
    .yinying {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .4);
        z-index: 100;
    }
    
    .anniu {
        width: 50px;
        height: 50px;
        display: block;
        background-image: url(../image/leftarrow.png);
        background-size: 50px 50px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .cf .pic i {
        display: none;
    }
    
    .down-content {
        width:250px;
        box-sizing: border-box;
        position: relative;
        padding: 10px;
        background: #fff;
        z-index: 200;
        overflow: hidden;

    }

    .cf li:hover .down-content{
        animation: transforms 0.3s ease normal;
        transform-origin:center top;        
    }

    @keyframes transforms{
        0%{
            transform:scale(1, 0.8);
        }
        100%{
            transform:scale(1,1);
        }
    }






    
    .picmid {
        height: 36px;
        margin-left: 5px;
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 12px;
    }
    
    .picmid a {
        text-decoration: none;
        color: #333;
    }
    
    i.time {
        float: left;
        display: block;
        background-image: url(../image/time.png);
        width: 14px;
        height: 14px;
        background-size: 14px 14px;
        margin-left: 5px;
    }
    
    .picdown {
        width: 230px;
        height: 19px;
        margin-bottom: 10px;
    }
    
    #xuexi {
        display: inline-block;
        float: right;
        padding-right: 5px;
    }
    
    .down-content span {
        float: left;
        display: block;
        font-size: 12px;
        margin-left: 15px;
        color: #666;
    }
    
    .down-content p {
        font-size: 12px;
        margin-left: 5px;
        color: #666;
        margin-bottom: 20px;
    }
    
    .down-bottom {
        width: 230px;
        margin-bottom: 10px;
    }
    
    .down-bottom i {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url(../image/zj.png);
        background-size: 14px 14px;
        margin-left: 5px;
    }
    
    .down-bottom span {
        display: inline-block;
        float: none;
    }
    
    i.bq {
        display: block;
        width: 16px;
        height: 16px;
        background-image: url(../image/down0.png);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        position: absolute;
        right: 15px;
        bottom: 20px;
        background-image: #fff;
        cursor: pointer;
    }
    
    .down-bottom {
        display: none;
    }
    
    .down-content p {
        display: none;
    }
    
    #xuexi {
        display: none;
    }
    
    .cf li:hover .down-bottom {
        display: block;
    }
    
    .cf li:hover .down-content p {
        display: block;
    }
    
    .cf li:hover #xuexi {
        display: inline-block;
    }
    
    .cf li:hover .down-content {
        position: absolute;
    }
    /*翻页条设置*/
    
    .page li {
        list-style: none;
        margin-right: 10px;
        display: block;
    }
    
    .page * {
        float: left;
    }
    
    .page li button {
        width: 32px;
        height: 32px;
    }
    
    #next {
        width: 50px;
    }
    
    .page span,
    input {
        display: inline-block;
        position: relative;
        top: 5px;
        margin-right: 5px;
    }
    
    .page input {
        width: 30px;
        top: 7px;
        outline: none;
    }
    
    .page .qr {
        display: inline-block;
        position: relative;
        top: 6px;
    }
    
    .colors {
        background: #35b558;
    }
    /*尾部区域*/
    
    .footer {
        width: 1000px;
        height: 300px;
        margin: 0 auto;
        color: #808080;
        position: relative;
    }
    
    .footer .left {
        margin-top: 25px;
        float: left;
    }
    
    .footer .middle {
        float: left;
        margin-top: 35px;
        margin-left: 70px;
    }
    
    .footer .middle dl {
        display: block;
        width: 135px;
        float: left;
    }
    
    .footer .middle dl dd {
        font-size: 12px;
        line-height: 30px;
    }
    
    .footer .middle dl a {
        text-decoration: none;
        color: #999;
    }
    
    .footer .right {
        margin-top: 28px;
        float: left;
    }
    
    .footer .right p {
        margin-bottom: 20px;
    }
    
    .footer .right .footer-common {
        width: 138px;
        height: 28px;
        border: 1px solid #999;
        background: #808080;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
    }
    
    .footer .right .left-common {
        width: 28px;
        height: 28px;
        margin-right: 2px;
        float: left;
        background-size: 28px 28px;
        background-repeat: no-repeat;
    }
    
    .footer .right .left-1 {
        background-image: url(../image/footer-1.png);
    }
    
    .footer .right .left-2 {
        background-image: url(../image/footer-2.png);
    }
    
    .footer .right .right-common {
        width: 108px;
        height: 28px;
        background: #fff;
        float: left;
        text-align: center;
        line-height: 28px;
        color: #808080;
    }
    
    .footer .right img {
        width: 113px;
        height: 144px;
    }
    
    .footer .right .footer-pic {
        display: none;
        position: absolute;
        top: -147px;
        left: 10px;
    }
    
    .footer .right .footer-common:hover .footer-pic {
        display: block;
    }
    
    .footer-bottom {
        width: 1000px;
        height: 70px;
        margin-top: 15px;
        clear: both;
        font-size: 12px;
        text-align: center;
        position: absolute;
        top: 223px;
    }
    
    .footer-bottom span a {
        text-decoration: none;
        color: #999;
    }
    
    .footer-bottom .footer-bottom-pic {
        display: block;
    }
    
    .footer-bottom-pic1 img {
        width: 20px;
        height: 15px;
    }
    
    .footer-bottom-pic1 {
        float: right;
    }
    
    .footer-bottom-pic2 img {
        width: 20px;
        height: 15px;
    }
    
    .footer-bottom-pic2 {
        float: right;
        margin-right: 20px;
    }
    
    .footer-bottom-pic3 img {
        display: block;
        width: 60px;
        height: 22px;
    }
    
    .footer-bottom-pic3 {
        clear: both;
        display: block;
        margin-left: 50%;
        position: absolute;
        left: -30px;
        margin-top: 10px;
    }
    /*尾部区域end*/
    /*右下角浮动框设置*/
    
    .fudong {
        position: fixed;
        right: 100px;
        bottom: 50px;
        z-index: 300;
    }
    
    .fudong1 {
        width: 34px;
        height: 34px;
        background-image: url(../image/fudong0.jpg);
        background-size: 34px 103px;
        cursor: pointer;
        display: none;
    }
    
    .fudong1:hover {
        background-image: url(../image/fudong.jpg);
    }
    
    .fudong2 {
        width: 34px;
        height: 34px;
        background-image: url(../image/fudong1.png);
        background-repeat: no-repeat;
        background-size: 12px 24px;
        background-position: 11px 6px;
        position: relative;
        cursor: pointer;
    }
    
    .fudongerweima {
        display: block;
        width: 126px;
        height: 159px;
        position: absolute;
        background-image: url(../image/fudongerweima.png);
        background-size: 126px 159px;
        left: -114px;
        top: -69px;
        display: none;
    }
    
    .fudong2:hover {
        background-image: url(../image/fudong2.png);
    }
    
    .fudong2:hover .fudongerweima {
        display: block;
    }
